<!DOCTYPE <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New App Tab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="../public/stylesheets/primitive.css" />  
</head>

<body>
    <div class="small-container">
        <h1>New Tab App</h1>

        <form>
            <input id="item" type="text" placeholder="New" required>
        </form>
        
        <h2>Items</h2>

        <ul></ul>

        <button>Clear All</button>

    </div>


    <script src="../scripts/main.js"></script>
</body>

</html>